@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}
@media only screen and (min-width: 600px){                                      /* SMALL TABLET */
    
    body,html {
        height: 100vh;
        /*background-image: linear-gradient(to right, var(--main), var(--selfie) );*/ /* NORMAL BACKGROUND */
        background: var(--main) url(../images/christmas.webp) no-repeat bottom center; /* CHRSITMAS BACKGROUND */
        background-size: 170%;  /* CHRSITMAS BACKGROUND */
        overflow: scroll;
    }

                                                        /*---- MENU ----*/
    header i#menu {
        display: none;
    }

    header > div.menubar {
        display: block;
        flex-direction: column;
        background-color: #D4CA33;
        width: 97vw;
        margin: auto;
        border-radius: 7px;
        margin-top: 5vh ;
        padding: 20px;
    }
    header > div.menubar > nav > ul#itens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        position: relative;
        top: -1.4vh;
    }
    header > div.menubar > nav > ul#itens > li > a {
        display: flex;
        text-decoration: none;
        color : white;
        justify-content: center;
    }

     header > div.menubar > nav > ul#itens > li > a.disabled-link { /* TO DISABLE LINK MENU */
        pointer-events: none;          
        color: white;
    } 

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }

                                                            /*---- WELCOME ----*/    

    main {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 97vw;
        align-items: center;
        margin: 0 auto;
    }
    main > div#welcome {
        color: white;
        font-family: "Amatic SC", cursive;
        /*font-size: 1em; */ /* NORMAL */
        font-size: 0.7em;
        font-weight: bolder;
        position: relative;
        height: 60vh;
        left: 15%;
        top: 3vh;
    }
    main > div#welcome > p {
        display: none;
    }
    main > div#welcome > p#wel {  /* CHRISTMAS MODE*/
        display: flex;
    }
                                                                                 /*---- PRESENTATION ------*/
    div#presentation {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 41vw;
        height: 45vh;
        border: 1px solid grey;
        /*background: var(--menu-hover) url(../images/bg_wave.png) no-repeat center center;
        background-size: cover;*/  /* NORMAL BACKGROUND */
        background: var(--main) url(../images/fallstars.gif) no-repeat top center;  /* CHRSITMAS BACKGROUND */
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        /*left: 14%;*/
        left: 9%;
        top: 0%;
        overflow: hidden;
    }

    main > div#presentation > div#content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0%;
    }

    main > div#presentation > div#content > img {
        position: relative;
        margin: 3vw auto;
        width: fit-content;
        block-size: fit-content;
        height: 30%;
        left: 2.5vw;
    }
    
    main > div#presentation >div#content >  p {
        position: relative;
        top: 30px;
        left: 15px;
        text-align: justify;
        text-indent: 15px;
        color: white;
        width: 36vw;
        margin: 0 auto;
        height: 7vh;
    }

    main > div#presentation >div#content >  p.exp {
       display: none;
    }

    main > div#presentation > div#content > ul {
        width: 30vw;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around; 
        position: relative;
        top: 10vh;
        left: 8vw;
        margin: 6 auto;
    }

    main > div#presentation > div#content > ul > li > a { 
        border: 1px solid;
        border-radius: 6px;
        padding: 5px 20px;
        color: white;
        text-decoration: none;
        margin-left: -30px;
    }
    main > div#presentation > div#content > ul > li > a:hover { 
        background-color: #8F57FF;
    }
    main i#fork {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    main i#linke {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

                                                        /*---- About ME -----*/
    article.other > div#about {
        display: flex;
        position: relative;
        top: 20px;
        margin: 3vh auto;
        height: 22vh;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        width: 97vw;
        block-size: fit-content;
        padding-bottom: 10px;
    }

    article.other > div#about > div#content1 {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        margin: 0 auto;
        top: 0%;
        width: fit-content;
        block-size: fit-content;
        
    }

    article.other > div#about > div#content1 > h2 {
        display: flex;
        width: 90vw;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    article.other > div#about > div#content1 > p {
        text-indent: 20px;
        padding: 0px 5px;
        width: fit-content;
        block-size: fit-content;
    }
    article.other > div#about > div#content1 > p > a {
        text-decoration: none;
        color: rgb(118, 0, 228);
    }
    article.other > div#about > div#content1 > ul {
        width: fit-content;
        block-size: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 13px;
        margin: 1vh auto;
        box-shadow: -3px 3px 3px rgba(0, 0, 0);
    }

    article.other > div#about > div#content1 > ul > li { 
        position: relative;
        left: 10px;
    }                                                               

                                                                /*---- ARROW DOWN ----*/

    article.other > div#img {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 40px;
    }
                                                                /*---- PROJECTS ----*/    

    article.other {
        height: 145vh;
    }
   
        article.other > div#projects {
        display: flex;
        position: relative;
        top: 95px;
        margin: 0vh auto;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        width: 97vw;
        block-size: fit-content;
    }
    article.other > div#projects > div#content2 {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        margin: 0 auto;
        top: 0%;
        width: fit-content;
        block-size: fit-content;
        
    }

    article.other > div#projects > div#content2 > h2 {
        display: flex;
        width: 90vw;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    article.other > div#projects > div#content2 > p  {
        text-indent: 20px;
        width: fit-content;
        height: auto;
    }

    article.other > div#projects > div#content2 > div.slider  { 
        overflow: hidden;
        width: 80vw;
        margin: 2vh auto;
    }

    article.other > div#projects > div#content2 > div.slider > figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 15s slider infinite;
    }

    article.other > div#projects > div#content2 > div.slider > figure > img {
        float: left;
        width: 20%;
    }

    @keyframes slider {
        0%{
            left: 0
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        90% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }
                                                            /*----- DEVICES ACTIVE -----*/

    main > div#welcome > p#devices{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
        height: 50vh;
        top: -53vh;
        left: -10vw;
        width: fit-content;
    }

    main > div#welcome  > p#devices > span#mob {
        color: rgb(173, 170, 170)
    }
    
    main > div#welcome > p#devices >  span#tab {
        color: rgb(3, 255, 3);
    }
    
    main > div#welcome > p#devices >  span#mac {
        color: rgb(151, 168, 168);
    }
    
    main > div#welcome > p#devices >  span#deskt {
        color: rgb(192, 190, 190);
    }

/*---- CONTACT FORM -----*/  

article.other > div#contact {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    top: 105px;
    margin: 0 left;
    padding: 20px;
    border: 1px solid grey;
    background-color: var(--selfie);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
    width: fit-content;
    height: 50vh;
    left: 15px;
}

article.other > div#contact > div#contactform {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
}

article.other > div#contact > div#contentform > fieldset#form {
    color: white;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
}

article.other > div#contact > div#contentform > fieldset#form > form > fieldset#formr {
    border: 0px;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#nome {
    font-size: small;
    position: relative;
    top: -9vh;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#city {
    font-size: small;
    position: relative;
    top: -5vh;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#mail {
    font-size: small;
    position: relative;
    top: 2vh;
    border: 0px;
}

article.other > div#contact > div#contentform > fieldset#form > form >button  {
    font-size: small;
    position: relative;
    top: 9vh;
    width: 25vw;
    padding: 2px;
    border-radius: 7px;
}

/*---- LEARNED ----*/
article.other > div#learn {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    top: -27%;
    margin: 0 left;
    padding: 20px;
    border: 1px solid grey;
    background-color: var(--selfie);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
    width: 40vw;
    height: 50vh;
    left: 55vw;
    color: white;
}

article.other > div#learn > div#contentlearn {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    margin: 0 auto;
    top: 0%;
    width: 40vw;
    left: -20px;
}

article.other > div#learn > div#contentlearn > ul > li {
    text-align: left;
    position: relative;
    left: 10px;
    list-style: none;
}

article.other > div#learn > div#contentlearn > ul > li > a{ 
    text-decoration: none;
    color: blue;
}

/*------ FOOTER ------*/

    footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width: 100%;
        block-size: fit-content;
        background:#8F57FF;
    }
}

@media only screen and (min-width: 992px){                                  /* LARGE TABLET and Laptops */
                                                /* MENU*/
    header > div.menubar {
        display: block;
        flex-direction: column;
        background-color: #D4CA33;
        width: 70vw;
        margin: auto;
        border-radius: 7px;
        margin-top: 5vh ;
        padding: 20px;
    }
    
    
    article.other > div#img {
        display: none;
        position: relative;
        top: 50px;

    }
}