@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}
@media only screen and (min-width: 768px){                                      /* TABLET */
    
    body {
        background-image: linear-gradient(to right, var(--main), var(--selfie) );
        overflow: hidden;
    }

                                                        /*---- MENU ----*/
    header i#menu {
        display: none;
    }

    header > div.menubar {
        display: block;
        flex-direction: column;
        background-color: #D4CA33;
        width: 97vw;
        margin: auto;
        border-radius: 7px;
        margin-top: 5vh ;
        padding: 20px;
    }
    header > div.menubar > nav > ul#itens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        position: relative;
        top: -1.4vh;
    }
    header > div.menubar > nav > ul#itens > li > a {
        display: flex;
        text-decoration: none;
        color : white;
        justify-content: center;
    }

     header > div.menubar > nav > ul#itens > li > a.disabled-link { /* TO DISABLE LINK MENU */
        pointer-events: none;          
        color: white;
    } 

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }

                                                            /*---- WELCOME ----*/    

    main {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 97vw;
        align-items: center;
        margin: 0 auto;
    }
    main > div#welcome {
        color: white;
        font-family: "Amatic SC", cursive;
        font-size: 1em;
        font-weight: bolder;
        position: relative;
        left: 15%;
    }

                                                                                 /*---- PRESENTATION ------*/
    div#presentation {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 41vw;
        height: 45vh;
        border: 1px solid grey;
        background: var(--menu-hover) url(../images/bg_wave.png) no-repeat center center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        left: 14%;
        top: 0%;
        overflow: hidden;
    }

    main > div#presentation > div#content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0%;
    }

    main > div#presentation > div#content > img {
        position: relative;
        margin: 3vw auto;
        width: fit-content;
        block-size: fit-content;
        height: 30%;
        left: 2.5vw;
    }
    
    main > div#presentation >div#content >  p {
        position: relative;
        top: 30px;
        left: 15px;
        text-align: justify;
        text-indent: 15px;
        color: white;
        width: 36vw;
        margin: 0 auto;
        height: 7vh;
    }

    main > div#presentation >div#content >  p.exp {
       display: none;
    }

    main > div#presentation > div#content > ul {
        width: 30vw;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around; 
        position: relative;
        top: 10vh;
        left: 8vw;
        margin: 6 auto;
    }

    main > div#presentation > div#content > ul > li > a { 
        border: 1px solid;
        border-radius: 6px;
        padding: 5px 20px;
        color: white;
        text-decoration: none;
        margin-left: -30px;
    }
    main > div#presentation > div#content > ul > li > a:hover { 
        background-color: #8F57FF;
    }
    main i#fork {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    main i#linke {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

                                                        /*---- About ME -----*/
    article.other > div#about {
        display: flex;
        position: relative;
        margin: 3vh auto;
        height: 22vh;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        width: fit-content;
        block-size: fit-content;
        padding-bottom: 10px;
    }

    article.other > div#about > div#content1 {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        margin: 0 auto;
        top: 0%;
        width: fit-content;
        block-size: fit-content;
        
    }

    article.other > div#about > div#content1 > h2 {
        display: flex;
        width: 90vw;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    article.other > div#about > div#content1 > p {
        text-indent: 20px;
        padding: 0px 5px;
        width: fit-content;
        block-size: fit-content;
    }
    article.other > div#about > div#content1 > p > a {
        text-decoration: none;
        color: rgb(118, 0, 228);
    }
    article.other > div#about > div#content1 > ul {
        width: fit-content;
        block-size: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 13px;
        margin: 1vh auto;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0);
    }

    article.other > div#about > div#content1 > ul > li { 
        position: relative;
        left: 10px;
    }

                                                                    /*----- MY PROJECTS -----*/

    main > div#projects {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10vh;
        margin: 0vh auto;
        width: fit-content;
        block-size: fit-content;
        height: 70vh;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        justify-content: space-evenly;
    }
    
    main > div#presentation > div#content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: fit-content;
        block-size: fit-content;
    }
    
    main > div#projects > div#content > h2 {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
        font-size: medium;
    }
    
    main > div#projects > div#content > p {
        font-size: small;
        display: flex;
        justify-self: center;
        padding: 20px 10px;
        text-align: justify;
        text-indent: 10px;
        color: white;
    }
    
    div#projects p#p {
        padding-top: 0px;
        margin-top: -7px;
    }
    
    main > div#projects > div#content > p#farmacia {
        display: flex;
        background: black url(../images/menufar.png) no-repeat center center;
        background-size: cover;
        width: 70vw;
        height: 16vh;
        margin: 4vh auto;
    }

                                                            /*----- DEVICES ACTIVE -----*/

    article.other > p#devices{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        height: 50vh;
        top: -75vh;
        left: 5vw;
        width: fit-content;
    }

    article.other > p#devices > span#mob {
        color: rgb(173, 170, 170)
    }
    
    article.other > p#devices > span#tab {
        color: rgb(3, 255, 3);
    }
    
    article.other > p#devices > span#mac {
        color: rgb(151, 168, 168);
    }
    
    article.other > p#devices > span#deskt {
        color: rgb(192, 190, 190);
    }
                                                                            /*------ FOOTER ------*/

    footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width: 100%;
        block-size: fit-content;
        background:#8F57FF;
    }
}

