@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}
@media only screen and (min-width: 768px){                             /* TABLET */
    
    body {
        background-image: linear-gradient(to right, var(--main), var(--selfie) );
        overflow: scroll;
    }

                                                        /*---- MENU ----*/
    header i#menu {
        display: none;
    }

    header > div.menubar > nav > ul#itens > li > a.disabled-link {  /* To disable links */
        pointer-events: none;        
        color: white;
    }

    header > div.menubar {
        display: block;
        flex-direction: column;
        background-color: #D4CA33;
        width: 97vw;
        margin: auto;
        border-radius: 7px;
        margin-top: 5vh ;
        padding: 20px;
    }
    header > div.menubar > nav > ul#itens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        position: relative;
        top: -1.4vh;
    }
    header > div.menubar > nav > ul#itens > li > a {
        display: flex;
        text-decoration: none;
        color : white;
        justify-content: center;
    }

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }

                                                            /*---- WELCOME ----*/    

    main {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 97vw;
        align-items: center;
        margin: 0 auto;
    }
    main > div#welcome {
        color: white;
        font-family: "Amatic SC", cursive;
        font-size: 1em;
        font-weight: bolder;
        position: relative;
        left: 15%;
    }

                                                                                 /*---- PRESENTATION ------*/
    div#presentation {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 41vw;
        height: 45vh;
        border: 1px solid grey;
        background-color: #5b22cd;
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        left: 14%;
        top: 0%;
    }

    main > div#presentation > div#content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10%;
        left: 7%;
    }

    main > div#presentation > div#content > img {
        margin: 0vh auto;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 3vh;
    }

    main > div#presentation >div#content >  p {
        position: relative;
        top: 5px;
        text-align: justify;
        text-indent: 15px;
        color: white;
        width: 36vw;
        margin: 0 auto;
        height: 7vh;
    }
    
    main > div#presentation > div#content > ul {
        width: 30vw;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around; 
        position: relative;
        top: 3vh;
        left: 5vw;
        margin: 6 auto;
    }

    main > div#presentation > div#content > ul > li > a { 
        border: 1px solid;
        border-radius: 6px;
        padding: 5px 20px;
        color: white;
        text-decoration: none;
        margin-left: -30px;
    }
    main > div#presentation > div#content > ul > li > a:hover { 
        background-color: #8F57FF;
    }
    main i#fork {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    main i#linke {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

                                                        /*---- About ME -----*/
    div#about {
        display: flex;
        position: relative;
        margin: 3vh auto;
        width: 90%;
        height: 40vh;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
    }

    div#about > div#content1 {
        display: flex;
        flex-direction: column;
        color: white;
    }

    div#about > div#content1 > h2 {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    div#about > div#content1 > p {
        text-indent: 20px;
    }



                                                            /*----- DEVICES ACTIVE -----*/

    p#devices{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        height: 50vh;
        top: -96vh;
        left: -45.5vw;
    }

    p#devices > span#mob {
        color: rgb(173, 170, 170)
    }
    
    p#devices > span#tab {
        color: rgb(3, 255, 3);
    }
    
    p#devices > span#mac {
        color: rgb(151, 168, 168);
    }
    
    p#devices > span#deskt {
        color: rgb(192, 190, 190);
    }
                                                                            /*------ FOOTER ------*/

footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width:100%;
        height:25px;   /* Height of the footer */
        background:#8F57FF;
        margin: 0 auto;
        left: 0px;
    }
}