@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}
@media only screen and (min-width: 768px){                                      /* SMALL TABLET */
    
    body,html {
        height: 100vh;
        background-image: linear-gradient(to right, var(--main), var(--selfie) );
        overflow: scroll;
    }

                                                        /*---- MENU ----*/
    header i#menu {
        display: none;
    }

    main > img {
        display: none;
    }

    header > div.menubar {
        position: fixed;
        left: 1.5vw;
        top: 0;
        z-index: 1;
        display: block;
        flex-direction: column;
        background-color: #D4CA33;
        width: 97vw;
        margin: auto;
        border-radius: 7px;
        margin-top: 5vh ;
        padding: 20px;
    }
    header > div.menubar > nav > ul#itens {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        position: relative;
        top: -1.4vh;
    }
    header > div.menubar > nav > ul#itens > li > a {
        display: flex;
        text-decoration: none;
        color : white;
        justify-content: center;
    }

     header > div.menubar > nav > ul#itens > li > a.disabled-link { /* TO DISABLE LINK MENU */
        pointer-events: none;          
        color: white;
    } 

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }
                                                            /*---- WELCOME ----*/    

    main {
        display: flex;
        flex-direction: row;
        height: 50vh;
        width: 97vw;
        align-items: center;
        margin: 10vh auto;
    }
    main > div#welcome {
        color: white;
        font-family: "Amatic SC", cursive;
        font-size: 1em;
        font-weight: bolder;
        position: relative;
        height: 60vh;
        left: 15%;
        top: 3vh;
    }
    main > div#welcome > p {
        display: block;
        top: 20vh;
    }
                                                                                 /*---- PRESENTATION ------*/
    div#presentation {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 41vw;
        height: 45vh;
        border: 1px solid grey;
        background: var(--menu-hover) url(../images/bg_wave.png) no-repeat center center;
        background-size: cover;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        left: 14%;
        top: 0%;
        overflow: hidden;
    }

    main > div#presentation > div#content {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0%;
    }

    main > div#presentation > div#content > img {
        position: relative;
        margin: 3vw auto;
        width: fit-content;
        block-size: fit-content;
        height: 30%;
        left: 2.5vw;
    }
    
    main > div#presentation >div#content >  p {
        position: relative;
        top: 30px;
        left: 15px;
        text-align: justify;
        text-indent: 15px;
        color: white;
        width: 36vw;
        margin: 0 auto;
        height: 7vh;
    }

    main > div#presentation >div#content >  p.exp {
       display: none;
    }

    main > div#presentation > div#content > ul {
        width: 30vw;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around; 
        position: relative;
        top: 10vh;
        left: 8vw;
        margin: 6 auto;
    }

    main > div#presentation > div#content > ul > li > a { 
        border: 1px solid;
        border-radius: 6px;
        padding: 5px 20px;
        color: white;
        text-decoration: none;
        margin-left: -30px;
    }
    main > div#presentation > div#content > ul > li > a:hover { 
        background-color: #8F57FF;
    }
    main i#fork {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    main i#linke {
        position: relative;
        left: 3px;
        color: var(--menu);
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

                                                        /*---- About ME -----*/

    article {
        height: 120vh;
    }
    article.other > div#about {
        display: flex;
        position: relative;
        top: 0px;
        margin: 3vh auto;
        height: 22vh;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        width: 97vw;
        block-size: fit-content;
        padding-bottom: 10px;
    }

    article.other > div#about > div#content1 {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        margin: 0 auto;
        top: 0%;
        width: fit-content;
        block-size: fit-content;
        
    }

    article.other > div#about > div#content1 > h2 {
        display: flex;
        width: 90vw;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    article.other > div#about > div#content1 > p {
        text-indent: 20px;
        padding: 0px 5px;
        width: fit-content;
        block-size: fit-content;
    }
    article.other > div#about > div#content1 > p > a {
        text-decoration: none;
        color: rgb(118, 0, 228);
    }
    article.other > div#about > div#content1 > ul {
        width: fit-content;
        block-size: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 13px;
        margin: 1vh auto;
        box-shadow: -3px 3px 3px rgba(0, 0, 0);
    }

    article.other > div#about > div#content1 > ul > li { 
        position: relative;
        left: 10px;
    }                                                               

                                                                /*---- ARROW DOWN ----*/

    article.other > div#img {
        margin: 0 auto;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 30px;
    }
                                                                /*---- PROJECTS ----*/    
   
        article.other > div#projects {
        display: flex;
        position: relative;
        top: 70px;
        margin: 0vh auto;
        border: 1px solid grey;
        background-color: var(--selfie);
        border-radius: 10px;
        box-shadow: 0px 0px 6px black;
        width: 97vw;
        block-size: fit-content;
    }
    article.other > div#projects > div#content2 {
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        margin: 0 auto;
        top: 0%;
        width: fit-content;
        block-size: fit-content;
        
    }

    article.other > div#projects > div#content2 > h2 {
        display: flex;
        width: 90vw;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    article.other > div#projects > div#content2 > p  {
        text-indent: 20px;
        width: fit-content;
        height: auto;
    }

    article.other > div#projects > div#content2 > div.slider  { 
        overflow: hidden;
        width: 80vw;
        margin: 2vh auto;
    }

    article.other > div#projects > div#content2 > div.slider > figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 15s slider infinite;
    }

    article.other > div#projects > div#content2 > div.slider > figure > img {
        float: left;
        width: 20%;
    }

    @keyframes slider {
        0%{
            left: 0
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        90% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }
                                                            /*----- DEVICES ACTIVE -----*/

    main > div#welcome > p#devices{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
        height: 50vh;
        top: -53vh;
        left: -10vw;
        width: fit-content;
    }

    main > div#welcome  > p#devices > span#mob {
        color: rgb(173, 170, 170)
    }
    
    main > div#welcome > p#devices >  span#tab {
        color: rgb(3, 255, 3);
    }
    
    main > div#welcome > p#devices >  span#mac {
        color: rgb(151, 168, 168);
    }
    
    main > div#welcome > p#devices >  span#deskt {
        color: rgb(192, 190, 190);
    }

/*---- CONTACT FORM -----*/  

article.other > div#contact {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    top: 80px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid grey;
    background-color: var(--selfie);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
    width: 97vw;
    height: 30vh;
}

article.other > div#contact > div#contentform > fieldset#form {
    color: white;
    font-size: smaller;
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
}

article.other > div#contact > div#contentform > fieldset#form > form > fieldset#formr {
    position: relative;
    border: 0px;
    top: -1vh;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#nome {
    position: relative;
    top: -1vh;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#city {
    position: relative;
    top: 0vh;
}

article.other > div#contact > div#contentform > fieldset#form > form > label#mail {
    position: relative;
    top: -2vh;
    border: 0px;
}

article.other > div#contact > div#contentform > fieldset#form > form >button  {
    position: relative;
    top: 0vh;
    width: 25vw;
    padding: 2px;
    border-radius: 7px;
}

/*------ FOOTER ------*/

    footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width: 100%;
        height: 3vh;
        background:#8F57FF;
    }
}

@media screen and (min-width: 992px) {  /* LAPTOP MODE */
   
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body , html {
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        overflow-x: hidden;
    }

    main > div#presentation {
        display: none;
    }

    main > div#welcome > p {
        display: none;
    }
    article.other > div#about {
        display: none;
    }

    article.other > div#projects {
        display: none;
    }

    article.other > div#contact {
        display: none;
    }

    article.other > div#img {
        display: none;
    }

    main > div#welcome {
        display: none;
    }

                                    /* MENU */

    header > div.menubar {
        border: 1px solid #D4CA33;
        background: none;
        position: fixed;
        z-index: 1;
        width: 50vw;
        margin: 2vh auto;
        left: 4vw;
    }


   main > img {
        display: block;
        position: relative;
        top: 7vw;
        left: -115vw;
        height: 100vh;
        border-radius: 0px 0px 0px 300px;
    }

    /* WELCOME */

    main > div#welcome1 {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        top: 55vh;
        left: -84vh;
    }
    main > div#welcome1 > p#devices1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 40vw;
        font-size: 460%;
    }
    main > div#welcome1  > p#devices1 > span#mob {
        font-size: 50%;
        color: rgb(173, 170, 170)
    }
    
    main > div#welcome1 > p#devices1 >  span#tab {
        font-size: 50%;
        color: rgb(151, 168, 168);
    }
    
    main > div#welcome1 > p#devices1 >  span#mac {
        font-size: 50%;
        color: rgb(3, 255, 3);
    }
    
    main > div#welcome1 > p#devices1 >  span#deskt {
        font-size: 50%;
        color: rgb(192, 190, 190);
    }
    /* ALL */

    main > div#all {
        display: block;
        width: 50vw;
        height: 73vh;
        background-color: #8F57FF;
        position: relative;
        left: 2.5vw;
        top: 11vh;
        border-radius: 10px;
    }

    main > div#all > p {
        color: white;
        font-family: 'Amatic SC', cursive;
        font-size: 5em;
        font-weight: bolder;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 2vh;
    }


    main > div#all > div#parag > p {
        padding-inline: 10px;
        height: 30vh;
        display: flex;
        color: white;
        position: relative;
        top: 7vh;
        text-indent: 10px;
        text-align: justify;
    }

    /*--- BUTTON LINKEDIN/GITHUB ----*/


    main > div#all > div#button1 {
        height: 5vh;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 17vh;
        align-items: center;
        justify-content: center;
    }

    main > div#all > div#button1 > ul {
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main > div#all > div#button1 > ul > li {
        color: white;
        background-color: #471b9f;
        border: 1px solid;
        width: 15vw;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        border-radius: 10px;
        margin: 70px;
    }

    main > div#all > div#button1 > ul > li > a {
        color: white;
    }

    /* 3 TITLES */

    main > div#title1 {
        color: white;
        display: flex;
        position: relative;
        top: 105vh;
        left: -88vw;
        box-shadow: 0px 0px 6px white;
        border-radius: 10px;
        height: 70vh;
    }

    main > div#title1 > div#conten {
        position: relative;
        width: 30vw;
        text-align: justify;
        text-indent: 10px;
        padding-inline: 10px;
    }
    main > div#title1 > div#conten > h2 {
        font-family: 'Cinzel', serif;
        padding-bottom: 20px;
        text-align: center;
        font-size: 260%;
        text-shadow: 0px 0px 6px black;
    }

    main > div#title1 > div#conten > img {
        width: 100%;
        position: relative;
        top: 5vw;
    }

    main > div#title2 {
        color: white;
        display: flex;
        position: relative;
        top: 105vh;
        left: -84vw;
        box-shadow: 0px 0px 6px white;
        border-radius: 10px;
        height: 70vh;
    }

    main > div#title2 > div#contentt {
        position: relative;
        text-align: justify;
        text-indent: 10px;
        padding-inline: 10px;
    }
    main > div#title2 > div#contentt > h2 {
        font-family: 'Cinzel', serif;
        padding-bottom: 20px;
        text-align: center;
        font-size: 260%;
        text-shadow: 0px 0px 6px black;
        width: 30vw;
    }

    main > div#title2 > div#contentt > div#tech > fieldset {
        border: none;
        margin: 0 auto;
        text-align: center;
    }

    main > div#title2 > div#contentt > div#tech > fieldset > img {
        display: inline-flex;
        text-align: center;
        position: relative;
        width: 20%;
    }

    main > div#title3 {
        color: white;
        display: flex;
        position: relative;
        top: 105vh;
        left: -81vw;
        box-shadow: 0px 0px 6px white;
        border-radius: 10px;
        height: 70vh;
    }

    main > div#title3 > div#conten1 {
        position: relative;
        width: 25vw;
        text-align: justify;
        text-indent: 10px;
        padding-inline: 10px;
    }
    main > div#title3 > div#conten1 > h2 {
        font-family: 'Cinzel', serif;
        padding-bottom: 20px;
        text-align: center;
        font-size: 260%;
        text-shadow: 0px 0px 6px black;
    }
    
    main > div#title3 > div#conten1 > form {
        position: relative;
        top: 25vh;
        color: white;
        font-size: smaller;
        height: 27vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 auto;
    }
    
    main > div#title3 > div#conten1 > form  fieldset#formr {
        position: relative;
        border: 0px;
        top: -23vh;
    }
    
    main > div#title3 > div#conten1 > form  label#nome {
        position: relative;
        top: -23vh;
    }
    
    article.other > div#contact > div#contentform > fieldset#form > form > label#city {
        position: relative;
        top: -0vh;
    }
    
    main > div#title3 > div#conten1 > form  label#mail {
        position: relative;
        top: -7vh;
        border: 0px;
    }
    
    main > div#title3 > div#conten1 > form >button  {
        color: white;
        position: relative;
        top: 0vh;
        width: 10vw;
        padding: 2px;
        border-radius: 7px;
        background: none;
        border: 0px no;
    }
}
@media screen and (min-width: 1200px){

    html , body {
        background: #471b9f url(../images/maintenance.png ) center center no-repeat;
    }
    main, header {
        display: none;
        overflow: hidden;
    }

}