@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}

html, body {
    background-color: var(--main);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


                                                                    /*----- MENU -----*/


    header > i#menu {
        background-color: #D4CA33;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 7px;
        margin: 2vh auto;
        padding: 5px;
    }

    header > i#menu:hover {
        color: blueviolet
    }

    header > div.menubar {
        position: relative;
        background-color: #D4CA33;
        width: 100vw;
        top: -19px;
        border-radius: 0px 0px 7px 7px;
        padding-top: 0px;
    }
    header > div.menubar > nav > ul#itens {
        display: none;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 5px
    }
    header > div.menubar > nav > ul#itens > li > a {
        text-decoration: none;
        color : white
    }

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }

                                                                            /*----- PRESENTATION ------*/


main > div#presentation {
    margin: 7vh auto;
    width: 75%;
    height: 55vh;
    border: 1px solid grey;
    background-color: var(--selfie);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
}

main > div#presentation > img {
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
    height: 80px;
    border-radius: 50%;
}

main > p#devices {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0px;
}

p#devices > span#on {
    color: red
}

                                                                            /*------ FOOTER ------*/

footer > p {
    display: block;
    border: 1px solid;
    position:absolute;
    bottom: 0;
    width:100%;
    height:4%;   /* Height of the footer */
    background:#8F57FF;
}