@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}

html, body {
    background-color: var(--main);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


                                                                    /*----- MENU -----*/

    header > i#menu {
        background-color: #D4CA33;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 7px;
        margin: 2vh auto;
        padding: 5px;
    }

    header > i#menu:hover {
        color: blueviolet
    }

    header > div.menubar {
        position: relative;
        background-color: #D4CA33;
        width: 100vw;
        top: -19px;
        border-radius: 0px 0px 7px 7px;
        padding-top: 0px;
    }
    header > div.menubar > nav > ul#itens {
        display: none;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 5px
    }
    header > div.menubar > nav > ul#itens > li > a {
        text-decoration: none;
        color : white
    }

    header > div.menubar > nav > ul#itens > li > a:hover {
        color: blueviolet;
    }
                                                                        /*----- WELCOME ------*/


main > div#welcome > p {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

                                                                            /*------ FOOTER ------*/

footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width:100%;
        height:25px;   /* Height of the footer */
        background:#8F57FF;
    }