@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}

html, body {
    background-color: var(--main);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}


                                                                    /*----- MENU -----*/

main {
    display: grid; 
    height: 87vh;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header > div.menubar > i#menu {
    display: inline-block;
    color: white;
    text-align: center;
    display: block;
    background-color: #D4CA33;
    margin: 2vh auto;
    border-radius: 5px;
    padding: 7px;
}

 header > div.menubar > i#menu:hover {
    color: blueviolet;
 }

                                                                            /*----- WELCOME ------*/


main > div#welcome > p {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
}

                                                                            /*------ FOOTER ------*/

footer > p {
        border: 1px solid;
        position:absolute;
        bottom:0;
        width:100%;
        height:25px;   /* Height of the footer */
        background:#8F57FF;
    }