@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --selfie : #8F57FF;
    --main : #471b9f;
    --text: #afa604;
    --menu-hover : #3A1387;
    --menu: #D4CA33;
}

html, body {
    background-color: var(--main);
    height: 87vh;
    width: 100vw;
    overflow: scroll;
}

                                                                    /*----- MENU -----*/


i#menu {
    color: white;
    text-align: center;
    display: block;
    cursor: pointer;
}

 i#menu:hover {
    color: blueviolet;
 }

header > div.menubar {
    display: grid;
    background-color: #D4CA33;
    width: 100vw;
    margin: 2vh auto;
    position: fixed;  /* To always show when user scroll the webpage*/
    padding: 10px;
    border-radius: 5px;
}
header > div.menubar > nav > ul {
    display: none;  /* In mobile the list menu will not be show*/
    list-style: none;
    margin: auto;
}
header > div.menubar > nav > ul > li > a {
    display: inline; 
    float: left; /* DISPLAY and FLOAT will put lis menu in center on mobile modes and horizontal*/
    margin-left: 2%; /* This is the % value for put lis menu in center*/
    color: white;
    padding-inline: 10px;
    text-decoration: none;
}

header > div.menubar > nav > ul > li > a:hover {
    flex-direction: row;
    text-decoration: underline;
    color: blueviolet;
}

                                                                            /*----- PRESENTATION ------*/


main > div#presentation {
    position: absolute;
    top: 19vh;
    left: 20vw;
    margin: auto;
    width: 70%;
    height: 60vh;
    border: 1px solid grey;
    background-color: var(--selfie);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
}

                                                                            /*------ FOOTER ------*/

footer > p {
    display: block;
    border: 1px solid;
    position:absolute;
    bottom: 0;
    width:100%;
    height:4%;   /* Height of the footer */
    background:#8F57FF;
}